#subHeaderContainer
{
    margin-bottom: 15px;
    text-align: center;
    padding-top:10px;
}
    #subHeaderContainer a:first-child
    {
        margin-left:0%;
    }
    #subHeaderContainer a
    {
        margin-left:2%;
    }

#subCatMenu
{
    padding: 10px 40px;
    line-height: 32px;
    position: relative;
    z-index: 2;
}

.slick-prev
{
    left: 10px;
}

.slick-next
{
    right: 10px;
}

.subHeaderlink
{
    color: #000;
    font-size: 20px;
}

/*#subCatMenu .category-thumbnail:hover
{
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg) scale(1.25);
}*/


#degrade_submenu{
    height:50px;
    width:100%;
    margin-top:-30px;
    background-size: 100% 100%;
    background-image:url('../degrade.png');
    background-repeat: repeat-x;
    position: relative;
    z-index: 5;
}
